/2020-Fall/EPPS6316-Applied-Regression/Week1/InstallRAndRStudio.mp4
/2020-Fall/GISC6301-GIS-Data-Analysis-Fundamentals/Week1/InstallRAndRStudio.mp4
/2021-Fall/GISC 4381.001GISC 6321.001 Fall 21/Exercise/Ex01/classified_data.csv
/2021-Fall/GISC 4381.001GISC 6321.001 Fall 21/Exercise/Ex01/Data/311_Service_Requests_October_1__2020_to_Present.csv
/2021-Fall/GISC 4381.001GISC 6321.001 Fall 21/Exercise/EX02/data/311_Service_Requests_October_1__2020_to_Present.csv
/2021-Fall/GISC 4381.001GISC 6321.001 Fall 21/Exercise/Lab-Package2/Data/img